.bg-light {
  background-color: white !important;
  color: black !important;
}

.navbar-brand {
  color: black !important;
}
.nav-link {
    color:black!important;
}
h1{
  text-align: center;
}
.standings{
  display: flex;
  justify-content: center;
}

.gallery {
  display: grid;
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.image{
  clear: both;
  display: flex;
  justify-content: center;
}
.Item-rows{
  display: grid;
grid-template: auto auto auto auto auto / 1fr 1fr;
grid-column-gap: 10px;
grid-row-gap: 10px;
}
.Stats-rows{
  display: grid;
grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
grid-column-gap: 10px;
grid-row-gap: 10px;
}
img{
  width: 100%;
}
.item img{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
h1{
  text-align: center;
}
.Item-rows-price{
  display: grid;
grid-template: auto auto auto auto auto / 1fr 1fr;
grid-column-gap: 10px;
grid-row-gap: 5px;
/*margin-left: 10px;*/
}
p{
  text-align: center;
}
h3, h4{
  color: black;
  text-align: center;
  font-size: 15px;
}
.cart{
  float: right;
  margin-right: 4px;
}
a:link{
  color: black;
}
.Items-row-price h3{
  color: green;
}
